################################################################################
# requirements.txt for alabs.ppm
################################################################################

#  * [2021/08/02]
#   - pyinst.bat using C:\work\py36 (Python36-32) and
#     use urllib3==1.25.8 for Proxy install
urllib3==1.25.8

# pip dependent packages
alabs.common

# needed
wheel

# default for alabs.ppm
idna==2.7
PyYAML
requests
requirements-parser
beautifulsoup4

# for installer STU & PAM pakcaging
#PyInstaller
#pypiwin32

# for pyinstaller
#six
#packaging
